.members-container {
  padding: 15px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
.members-table {
  width: 100%;
  border-collapse: collapse;
}

.members-table th,
.members-table td {
  border: 2px solid #c6c5c5;
  padding: 10px;
  text-align: center;
  background-color: rgb(245, 248, 251);
}

.members-table th {
  background: rgb(244, 230, 230);
  font-size: 18px;
}

.bg_copyright {
    height: 50px;
    background: linear-gradient(120deg, #6a85b6, #bac8e0);
    color: #fff;
    display: flex;
    justify-content: center;      
    font-size: 15px;
    padding: 0px;
    margin-top: 15px;
}
