<div>
    <div class="login_container">
        <div class="login_card">
            <h2 class="heading">Login</h2>
            <form [formGroup]="loginForm">
                <div class="label_input">
                    <label for="email">Email:</label>
                    <input 
                    type="email" 
                    formControlName="email"
                    id="email" 
                    placeholder="Enter your email"
                    required="required"
                    class="input"/>
                    <small *ngIf="email?.touched && email?.errors?.['required']">
                        Email is required.
                    </small>
                    <small *ngIf="email?.touched && email?.errors?.['email']">
                        Enter a valid email.
                    </small>
                </div>

                <div class="label_input">
                    <label for="pwd">Password:</label>
                    <input 
                    type="password" 
                    formControlName="password"
                    id="pwd" 
                    placeholder="Enter your password"
                    required="required"
                    class="input"/>
                    <small *ngIf="password?.touched && password?.errors?.['required']">
                        Password is required.
                    </small>
                    <small *ngIf="password?.touched && password?.errors?.['minlength']">
                        Minimum 6 characters required.
                    </small>
                </div>

                <div *ngIf="loginMessage" class="error-popup">
                    {{ loginMessage }}
                </div>
            </form>
            <div class="a_link">
                <a routerLink="/verify">Forgot Password?</a>
            </div>

            <button type="submit" class="btn" (click)="submit()">Login <i class="fa-solid fa-arrow-right-to-bracket"></i></button>

        </div>
    </div>
</div>
