.verify_container{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(108, 152, 223));
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify_card{
    background-color: aliceblue;
    width: 60vh;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.verify_card h2{
    text-align: center;
    text-decoration: underline;
}

.label_input{
    padding-bottom: 15px;
}

.input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(180, 200, 240);
    background-color: rgb(245, 245, 255);
}

form div small{
    color: red;
}

.btn{
    width: 100%;
    background-color: rgb(180, 200, 240);
    border: 1px solid rgb(180, 200, 240);
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    color: black;
}