<div>
    <div class="verify_container">
        <div class="verify_card">
            <h2>Verify your Mobile Number with OTP</h2>

            <div>

                <form [formGroup]="verifyForm">
                    <div class="label_input">
                        <label for="mobile">Mobile Number:</label>
                        <input type="text" formControlName="mobileNumber" id="mobile"
                            placeholder="Enter your mobile number" class="input" required [readonly]="isOtpSent" />

                        <small *ngIf="mobileNumber?.touched && mobileNumber?.errors?.['required']">
                            Mobile Number is required.
                        </small>
                        <small *ngIf="mobileNumber?.touched && mobileNumber?.errors?.['pattern']">
                            Enter a valid 10 digit mobile number.
                        </small>
                    </div>
                </form>

                <div *ngIf="otpMessage" class="message-popup">
                    {{ otpMessage }}
                </div>
                <div *ngIf="otpResendMessage" class="message-popup">
                    {{ otpResendMessage }}
                </div>

                <button type="button" class="btn" (click)="sendOTP()" [disabled]="isOtpSent">Send OTP</button>
            </div>

            <hr>

            <div *ngIf="isOtpSent">
                <form [formGroup]="verifyForm">
                    <div class="label_input">
                        <label for="Otp">OTP:</label>
                        <input type="text" formControlName="otp" id="Otp" placeholder="Enter OTP" class="input"
                            required />

                        <small *ngIf="otp?.touched && otp?.errors?.['required']">
                            OTP is required.
                        </small>
                        <small *ngIf="otp?.touched && otp?.errors?.['pattern']">
                            Enter a valid 4 digit OTP.
                        </small>
                    </div>
                </form>

                <div *ngIf="otpVerifyMessage && countdown === 0" class="message_error_popup">
                    {{ otpVerifyMessage }}
                </div>
                <div *ngIf="countdown > 0" class="countdown-popup">
                    Resend OTP available in {{ countdown }} seconds
                </div>

                <div class="buttons">
                    <button type="button" class="btn1" (click)="verifyOTP()">Verify OTP</button>

                    <button type="button" class="btn2" (click)="resendOTP()" [disabled]="countdown > 0">Resend
                        OTP</button>
                </div>
            </div>

        </div>
    </div>
</div>