<div>
    <div class="verify_container">
        <div class="verify_card">
            <h2>Verify your Mobile Number with OTP</h2>
            <div>
                <h3>Enter Mobile Number</h3>
                <form [formGroup]="sendOtpForm">
                    <div class="label_input">
                        <label for="mobile">Mobile Number:</label>
                        <input type="text" formControlName="mobileNumber" id="mobile"
                            placeholder="Enter your mobile number" required="required" class="input" />
                        <small *ngIf="mobileNumber?.touched && mobileNumber?.errors?.['required']">
                            Mobile Number is required.
                        </small>
                        <small *ngIf="mobileNumber?.touched && mobileNumber?.errors?.['pattern']">
                            Enter a valid 10 digit mobile number.
                        </small>
                    </div>
                </form>
                <div *ngIf="otpMessage" class="message_error_popup">
                    {{ otpMessage }}
                </div>

                <button type="submit" class="btn" (click)="sendOTP()">Send OTP</button>
            </div>
        </div>
    </div>
</div>