<div>
    <div class="verify_container">
        <div class="verify_card">
            <div>
                <h3>Verify OTP</h3>
                <form [formGroup]="verifyOtpForm">
                    <div class="label_input">
                        <label for="Otp">OTP:</label>
                        <input type="text" formControlName="otp" id="Otp" placeholder="Enter Otp" required="required"
                            class="input" />
                        <small *ngIf="otp?.touched && otp?.errors?.['required']">
                            Otp is required.
                        </small>
                        <small *ngIf="otp?.touched && otp?.errors?.['pattern']">
                            Enter a valid 4 digit OTP.
                        </small>
                    </div>
                    <div *ngIf="otpVerifyMessage" class="message_error_popup">
                        {{ otpVerifyMessage }}
                    </div>
                </form>

                <button type="submit" class="btn" (click)="verifyOTP()">Verify OTP</button>
            </div>

        </div>
    </div>
</div>