.password_container {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    background: linear-gradient(120deg, #6a85b6, #bac8e0);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.password_card {
    width: 350px;
    padding: 30px;
    background: aliceblue;
    backdrop-filter: blur(8px);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    animation: slideUp 0.8s ease forwards;
    transform: translateY(40px);
    opacity: 0;
}
@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.password_card h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 25px;
    color: #2d3e50;
    letter-spacing: 1px;
    animation: fadeIn 1.2s ease;
}

.label_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.label_input label {
    margin-bottom: 4px;
    font-weight: 600;
    color: #38475a;
}

.input {
    padding: 10px 40px 10px 12px;
    border: 2px solid #d1d9e6;
    border-radius: 10px;
    outline: none;
    transition: 0.3s ease;
    font-size: 16px;
    background-color: #f6f8fb;
}
.input:focus {
    border-color: #6a85b6;
    background: #ffffff;
    transform: scale(1.02);
    box-shadow: 0 0 8px rgba(106, 133, 182, 0.4);
}

.label_input .toggle-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
  flex: row;
  justify-content: space-between;
}

form div small {
    color: red;
}

.message-popup {
    background-color: rgb(245, 245, 255);
    color: #4cd800;
    border-left: 5px solid #4cd800;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    font-weight: 500;
    animation: fadeShake 0.4s ease;
}

.message_error_popup {
    background: #ffdddd;
    color: #d8000c;
    border-left: 5px solid #d8000c;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    font-weight: 500;
    animation: fadeShake 0.4s ease;
}

.btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(45deg, #6a85b6, #7f9bc9);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s ease;
    box-shadow: 0 5px 15px rgba(106, 133, 182, 0.4);
}
.btn:hover{
    background-color: #6a85b6;
    transform: scale(1.02);
}