<div>
    <div class="password_container">
        <div class="password_card">
            <h2>Set new Password</h2>
            <div>
                <form [formGroup]="forgotPassword">
                    <div class="label_input">
                        <label for="newPassword">Enter New Password:</label>
                        <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
                            id="newPassword" placeholder="Enter Password" required="required" class="input" />
                        <small *ngIf="newPassword?.touched && newPassword?.errors?.['required']">
                            New Password is required.
                        </small>
                        <span class="toggle-icon" (click)="toggleNewPassword()">
                            <i [ngClass]="showNewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                    </div>
                    <div class="label_input">
                        <label for="confirmPassword">Enter Confirm Password:</label>
                        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
                            id="confirmPassword" placeholder="Re-Enter Password" required="required" class="input" />
                        <small *ngIf="confirmPassword?.touched && confirmPassword?.errors?.['required']">
                            Confirm Password is required.
                        </small>
                        <span class="toggle-icon" (click)="toggleConfirmPassword()">
                            <i [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                    </div>
                </form>
                <div *ngIf="errorMessage" class="message_error_popup">
                    {{ errorMessage }}
                </div>
                <button type="submit" class="btn" (click)="reset()">Reset</button>
            </div>
        </div>
    </div>
</div>